<mat-toolbar class="appToolbar"><div class="toolbarText">Weather Tunes</div></mat-toolbar>
<mat-grid-list cols="4" rowHeight="3:5">
    <mat-grid-tile *ngFor="let result of Results">
        <app-cover-scroller [title]="result.title" [subtitle]="result.subtitle" [cover]="result.cover" [accessToken]="accessToken" 
        [contextUri]="result.uri" [deviceID]="DeviceID" [track_number]="result.track_number" [track_features]="result.track_features"></app-cover-scroller>
    </mat-grid-tile>
</mat-grid-list>

<button class="searchBtn" mat-raised-button (click)="Search({keyMin: 0, keyMax: 6})">Search</button>

<div id="searchResult"></div>
<!-- put an ngif on the button so if there Results.length < 0 show big button else show the smaller one -->
<!-- need javascript equavilent of blockUI -->
<!-- try to pipe into news feed or twitter feed to achieve same functionality as weather -->

<!-- First steps:
-get the button working
-then get the weather API hooked up
KEEP THINGS MODULAR -->