.example-card {
    margin: 15px 5px 0px 5px;
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card-header, .mat-card-title {
    font-size: 15px !important;
}