.example-card {
    margin: 15px 30px 0px 30px;
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://physics.aps.org/assets/3a3e7b4c-4f56-4184-888d-e41fc70fa546/e29_1.png');
    background-size: cover;
}

.mat-card-header, .mat-card-title {
    font-size: 15px !important;
}